.new-item-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: skyblue;
    border-radius: 10px;
}

.new-item-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.new-item-form input[type='text'],
.new-item-form input[type='number'],
.new-item-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.new-item-form button[type='submit'] {
    width: 100%;
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.new-item-form button[type='submit']:hover {
    background-color: #0056b3;
}